body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: #1A1B41;
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

/*DARK-LIGHT MODE INDICATOR*/
.toggler {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    margin-left: 90%;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
    transition: 0.5s ease;
}

nav.dark .toggler--slider {
    border-color: #F1F1F1;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: #F1F1F1;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #cec6c6;
}

nav.dark .toggler--light {
    color: #cec6c6;
}

.toggler--dark {
    color: #000000;
}

nav.dark .toggler-dark {
    color: #F1F1F1;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}
/*NAVBAR CONFIG AND DROPDOWN STYLES*/
nav{
    overflow: hidden;
    background-color: #2F394D;
    align-items: center;
    text-align: center;
  }
  
nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin: 2px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 nav a:hover, .dropdown:hover .dropbtn {
    color: red;
    transition: ease 0.5s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  a img{
    width: 70px;
    height: 70px;
  }
  .content{
    margin-top: 10px;
  }

